.app.dark {
  --primary-color: #14ff00;
  --secondary-color: #148e00;
  --primary-color-inverted: #0063ff;
  --secondary-color-inverted: #00fffe;
  --background-color: #23459e;
  --background-color-inverted: #c2c2c2;
}
