.app.normal {

  --primary-color: #0063ff;
  --secondary-color: #00fffe;

  --primary-color-inverted: #14ff00;
  --secondary-color-inverted: #148e00;

  --background-color-inverted: #23459e;
  --background-color: #c2c2c2;
}